<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <application
        android:allowBackup="true"
        android:label="Gallery"
        android:icon="@android:drawable/ic_menu_gallery"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar">

        <meta-data
            android:name="com.google.android.glass.TouchEnabledApplication"
            android:value="true" />

        <service
            android:name=".Gallery2PluginService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.glasshole.plugin.GLASS_PLUGIN" />
            </intent-filter>
            <meta-data android:name="com.glasshole.plugin.ID" android:value="gallery2" />
        </service>

        <activity
            android:name=".CoverFlowActivity"
            android:label="Gallery"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="com.google.android.glass.category.DIRECTORY" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MediaViewActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen" />
    </application>
</manifest>
